{%extends 'base.html'%}
{% load thumbnail %}

{%block title%}


{%endblock%}

{%block content%}

<h1>{{image.title}}</h1>
{% thumbnail image.image "200x200" crop="center" as im %}
	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<!-- 
	view counter with redis:
<span class="total_view">
	{{total_view}} view{{total_view|pluralize}}
</span> 
-->

{% with total_like=image.like_image.count  users=image.like_image.all%}
<div class='info'>
	<div>
		{% if request.user not in users%}yes{%endif%}
		<span class='like'> <span class='total_like' >{{total_like}}</span> like{{totla_like|pluralize}}</span>
		<a href="#" data-id='{{image.id}}' data-action='{% if request.user not in users%}like{%else%}unlike{%endif%}' class='like'>{% if request.user not in users%}like{%else%}unlike{%endif%}</a>
	</div>
	<p>{{image.description}}</p> 
</div>
<div class='like'>
	{% for user in image.like_image.all %}
	<div>
		<img src="{{user.profile.image.url}}" width=30 height=30 style="border-radius: 50%;">
		<p>{{user.first_name}}</p>
	</div>
	{%empty%}
	No body like it
	{% endfor%}

</div>
{%endwith%}
{%endblock%}
{% block domready%}
$('a.like').on('click',function(e){
			  e.preventDefault();
			  var id =$(this).attr('data-id')
			  var action=$(this).attr('data-action')
			  $.ajax({
				url: '{%url "like"%}',
				type: 'POST',
				dataType: 'json',
				data:{'id':id,'action':action},
				})
			  .done(function(response) {

					if (response['status'] == 'ok'){

						var previous_action=$('a.like').data('action')
						$('a.like').data('action',previous_action=='like' ? 'unlike' :'like')


						$('a.like').text(previous_action=='like' ? 'unlike' :'like')
						
						
						//var total =parseInt($("span.total_like").attr('data-total'))+1;
						var previous_total=parseInt($("span.total_like").text())

						$("span.total_like").text(previous_action=='like' ? previous_total+1 :previous_total-1)

					}
				
			  })
			  .fail(function() {
				console.log("error");
			  })
			  .always(function() {
				console.log("complete");
			  });
})

{%endblock%}



